.carousel {
    max-width: 800px; /* Ajuste o valor de acordo com o tamanho que deseja */
    margin: 0 auto; /* Centraliza o carrossel */
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.top{

    text-align: center; /* Centraliza o texto */
    margin-top: 50px; /* Espaço superior (opcional) */  
    
}



h6{
    text-align: center; /* Centraliza o texto */
    margin-top: 50px; /* Espaço superior (opcional) */
}

.text-ver{
    padding-top: 3%;
    background-color: #FE3030;
    color: #ffefff;
   max-width: 100%;
   max-height: 30%;
  
    justify-content: center;
    align-items: center;
    font-family: monospace ;
}
.infos{
    background-color: #FE3030;
    text-align: left;
    

}
.infos ul{
    margin-top: 5%;
    margin-bottom: 5%;
    list-style-type: none; /* Remove os pontos da lista */
    padding: 0; /* Remove o preenchimento interno */
    margin: 0; /* Remove a margem, se necessário */
    margin-left: 10%;
    color: #ffefff;
    font-size: large;
    justify-content: space-around;
    font-family: monospace;
    
}

.btn-color{
    background-color: #FE3030;
    color: #ffefff;
}