/* https://lospec.com/palette-list/andrade-gameboy  ---> palheta de cores*/ 


.menu a{
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Usa a cor do elemento pai */
    font-family: Arial, sans-serif; /* Define a fonte */
}

.menu ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
    display: flex; /* Deixa os itens em linha */
}

.menu li {
    margin-right: 15px; /* Espaçamento entre os itens */
    margin-left: 20px;
    margin-top: 15px;
}

.menu{
 
    position:absolute; /* Fixa o menu no topo */
    top: 0; /* Gruda no topo */
    left: 0;
    width: 100%; /* Faz o menu ocupar toda a largura */
    background-color:#EA2C38;
    padding: 15px 20px; /* Espaçamento interno apenas no topo e na parte inferior */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #030303
}


body{
    background-color: #474a51;
    color: #ffffff;
}


footer{
    background-color: #202020;
    padding: 20px 0; /* Adiciona espaçamento vertical */
    width: 100%;
    position: absolute;
    left: 0;
    height: 10%;
}
.footer-content {
    display: flex; /* Torna o contêiner flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 20px; /* Adiciona espaço entre os elementos */
}

footer a {
    text-decoration: none;
    color: #ffefff;
    font-family: Arial, sans-serif;
    
}
footer .txt:hover{
    background-color:#ffefff ;
    border-radius: 5px;
}

footer img{
    width:25; 
    height:25
    
}

body{
    font-family: 'Times New Roman', 'Times', 'serif';
}

.menu  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
      'FILL' 0,
      'wght' 500,
      'GRAD' 0,
      'opsz' 48;
    font-size: 250%; /* Ajuste o tamanho conforme necessário */
    color: #000; /* Ajuste a cor conforme necessário */
    margin-left: auto;
  }
  

  .back-ground {
    position: relative;
    background-image: url("src/identi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    height: 50vh; /* Ajuste a altura conforme necessário */
}

.back-ground::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.123); /* Ajuste a opacidade aqui (0.5 = 50%) */
}