/* https://lospec.com/palette-list/andrade-gameboy */
.menu a{
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Usa a cor do elemento pai */
    font-family: Arial, sans-serif; /* Define a fonte */
}

.menu ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
    display: flex; /* Deixa os itens em linha */
}

.menu li {
    margin-right: 15px; /* Espaçamento entre os itens */
    margin-left: 20px;
    margin-top: 15px;
}

.menu{
 
    position:absolute; /* Fixa o menu no topo */
    top: 0; /* Gruda no topo */
    left: 0;
    width: 100%; /* Faz o menu ocupar toda a largura */
    background-color:#aeba89;
    padding: 15px 0; /* Espaçamento interno apenas no topo e na parte inferior */
    color: #000000
}


body{
    background-color: #ffefff;
}


footer{
    background-color: #202020;
    padding: 20px 0; /* Adiciona espaçamento vertical */
    width: 100%;
    position: absolute;
    left: 0;
    height: 10%;
}
.footer-content {
    display: flex; /* Torna o contêiner flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 20px; /* Adiciona espaço entre os elementos */
}

footer a {
    text-decoration: none;
    color: #ffefff;
    font-family: Arial, sans-serif;
    
}
footer .txt:hover{
    background-color:#ee9c5d ;
    border-radius: 5px;
}

footer img{
    width:25; 
    height:25
    
}

body{
    font-family: 'Times New Roman', 'Times', 'serif';
}